<main class="cover">
    <div class="centered center flow">
        <p class="local-time step-5" id="local-time">--:--:--</p>
        <form class="align-items-center flow flex" id="search-form">
            <div class="stack">
                <h1 class="text-align-center">
                    <label for="search">Cherches la météo de ta ville</label>
                </h1>
                <input type="text" name="search" id="search" placeholder="Paris, Marseille...">
            </div>
            <button type="submit">Chercher la ville</button>
        </form>
        <div class="weather-data flow">
            <p class="error" id="error"></p>
            <ul role="list">
                <li>Ville: <span id="data-city">{{ city }}</span></li>
                <li>Température: <span id="data-temp">{{ temp }}</span></li>
                <li>
                    Description:
                    <div class="with-icon">
                        <svg class="icon">
                            <image href="/images/weather_icons/{{ icon }}.svg" id="data-desc-icon"></image>
                        </svg>
                        <span id="data-desc">{{ desc }}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>
