.weather-data {
    --element-color: var(--clr-yellow);
    padding: var(--space-s);
    border-radius: 1rem;
    border: .5rem dashed var(--element-color);
}

.local-time {
    font-size: var(--step-7);
    text-align: center;
}